<div class="row text-center">
    <div class="col">
    <h1>Contador</h1>
    <h2>{{contador}}</h2>

    </div>
  </div>

  <div class="row text-center">
      <div class="col">
          <button class="btn btn-primary m-2" (click)="multiplicar()" >Multiplicar</button>
          <button class="btn btn-info" (click)="dividir()">Dividir</button>
      </div>
    </div>


    <div class="row text-center">
        <div class="col">
            <app-nieto [contador] ="contador" (reseteaContador)="reseteaContador($event)"></app-nieto>
        </div>
      </div>
