<div class="row text-center">
    <div class="col">
    <h1>Contador</h1>
    <h2>{{contador}}</h2>

    </div>
  </div>

  <div class="row text-center">
      <div class="col">
          <button class="btn btn-primary m-2" (click)="reset()" >Reset</button>

      </div>
    </div>
